body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
div, p, a, img, form, button{
	box-sizing: border-box;
}
header{
	background: url(../img/bg.png) no-repeat center top ;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
a {
	text-decoration: none;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.header-menu{
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-top: 40px;
}
nav{
	margin-left: auto;
}
ul.menu {
	display: flex;
}
nav a{
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
}
nav a:hover{
	color: #c7b299;
}
a.icon{
	display: none;
}
.swiper-wrapper{
	padding-top: 250px;
	padding-bottom: 300px;
}
.swiper-button-next, .swiper-button-prev{
	padding-top: 100px;
}
.swiper-slide{
	display: flex;
	justify-content: center;
}
a.btn{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	display: block;
	color: #fff;
	background: #998675;
	text-align: center;
	padding: 20px 36px;
	border-radius: 5px;
	text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.slider{
	position: relative;
	margin: 0 auto;
}
.service{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 65px;
}
.desing{
	text-align: center;
}
.desing h3{
	font-family: "MyriadProRegular";
	font-size: 22px;
	color: #555;
}
.desing p{
	padding-bottom: 25px;
	color: #8c8c8c;
	font-size: 14px;
}
.line{
	text-align: center;
	width: 90px;
	height: 4px;
	background-color: #f1eee9;
	border:none; 
}
.desing:hover h3{
	color: #c7b299;
}
.desing:hover .line{
	background-color: #c7b299;
}
.ideas{
	height: 557px;
	background: #fbfaf8;
	padding-top: 85px;
}
.ideas-text{
	text-align: center;
}
.ideas-text h2{
	font-size: 30px;
	font-family: "MyriadProRegular";
}
.ideas-text p{
	display: inline-block;
	width: 715px;
	font-size: 16px;
}
.ideas-text img{
	border:0;
}
.boxes{
	background: rgba(33,27,25,1);
	background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(74,50,38,1)));
	background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4a3226', GradientType=1 );
}
.box-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 50px;
}
.box-text{
	padding-left: 25px;
}
.box-text h1{
	color: #fff;
	font-size: 28px;
}
.box-text span{
	color: #c7b299;
}
.box-text p{
	color: #5b524f;
	font-size: 18px;
	font-family: "MyriadProRegular";
}	
.btn-text{
	display: block;
	color: #fff;
	background: #998675;
	text-align: center;
	padding: 20px 36px;
	border-radius: 5px;
	text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.latest-text{
	padding-top: 55px;
	width: 780px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.latest-text h2{
	font-size: 30px;
	font-family: "MyriadProRegular";
	font-weight: 300;
}
.latest-list{
	display: flex;
	justify-content: center;
	padding-top: 40px;
}
.latest-text p{
	padding-top: 50px;
	color: #8c8c8c;
	letter-spacing: 0.5px;
}
.latest-list li{
	border: 2px solid #ebebeb;
	margin: 0px 5px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #8c8c8c;
}
.latest-list li:hover{
	background: #998675;
	color: #fff;
}



















/*Адаптивность*/
@media screen and (max-width: 1100px){
	.container{
		width: 768px;
	}
	.topnav a{
		display: none;
	}
	nav{
		width: 100%;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 35px;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
		padding-left: 10px;
	}
	header .topnav.responsive{
		height: 20px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top:-50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
		font-size: 20px;
	} 
	.topnav a:hover{
		border: inherit;
		margin-bottom: 0px;
		padding-bottom: 0px;
		color: #c7b299;
	}
	img.windows{
		width: 100%;
	}
	.latest-text{
		width: auto;
	}
}
@media screen and (max-width: 769px){
	.container{
		width: 580px;
	}
	.swiper-slide img{
		width: inherit;
	}
	img.windows{
		width: 100%;
	}
	.ideas-text p{
		width: auto;
	}
	

}
@media screen and (max-width: 570px){
	.container{
		width: 360px;
	}
	.swiper-slide img{
		width: inherit;
	}
	.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
		display: none;
	}
	.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after{
		display: none;
	}
	a.btn{
		font-size: 12px;
	}
	.service{
		flex-wrap: wrap;
	}
	.box-btn{
		display: inline-block;
		padding-top: 50px;
	}
	.box-content{
		display: block;
    	text-align: center;
	}
	.box-text{
		text-align: center;
	}
	.latest-list{
		flex-wrap: wrap;
	}
}