body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
div, p, a, img, form, button{
	box-sizing: border-box;
}
header{
	background: url(../img/bg.png) no-repeat center top ;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
a {
	text-decoration: none;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.header-menu{
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-top: 40px;
}
nav{
	margin-left: auto;
}
ul.menu {
	display: flex;
}
nav a{
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
}
nav a:hover{
	color: #c7b299;
}
a.icon{
	display: none;
}
.swiper-wrapper{
	padding-top: 250px;
	padding-bottom: 300px;
}
.swiper-button-next, .swiper-button-prev{
	padding-top: 100px;
}
.swiper-slide{
	display: flex;
	justify-content: center;
}
/*.btn{
	position: absolute;
	top: 850px;
	left: 45%;
}
.btn p{
	display: block;
	width: 185px;
	color: #fff;
	background: #998675;
	text-align: center;
	padding: 20px 36px;
	border-radius: 5px;
	text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    padding: 10px;
}*/



















/*Адаптивность*/
@media screen and (max-width: 1100px){
	.container{
		width: 768px;
	}
	.topnav a{
		display: none;
	}
	nav{
		width: 100%;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
		padding-left: 10px;
	}
	header .topnav.responsive{
		height: 20px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top:-50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
	} 
	.topnav a:hover{
		border: inherit;
		margin-bottom: 0px;
		padding-bottom: 0px;
		color: #c7b299;
	}
}
@media screen and (max-width: 769px){
	.container{
		width: 580px;
	}
	.swiper-slide img{
		width: inherit;
	}
}
@media screen and (max-width: 579px){
	.container{
		width: 360px;
	}
	.swiper-slide img{
		width: inherit;
	}
	.swiper-button-prev{
		display: none;
		color: red;
	}
}