body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
}
div, p, a, img, form, button{
	box-sizing: border-box;
}
header{
	background: url(../img/bg.png) no-repeat center top ;
	 -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
a {
	text-decoration: none;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, hr{
	margin: 0;
	padding: 0;
}
.container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}
.header-menu{
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-top: 40px;
}
nav{
	margin-left: auto;
}
ul.menu {
	display: flex;
}
nav a{
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
}
nav a:hover{
	color: #c7b299;
}
a.icon{
	display: none;
}
.swiper-wrapper{
	padding-top: 250px;
	padding-bottom: 300px;
}
.swiper-button-next, .swiper-button-prev{
	padding-top: 100px;
}
.swiper-slide{
	display: flex;
	justify-content: center;
}
a.btn{
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	display: block;
	color: #fff;
	background: #998675;
	text-align: center;
	padding: 20px 36px;
	border-radius: 5px;
	text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.slider{
	position: relative;
	margin: 0 auto;
}
.service{
	display: flex;
	justify-content: space-between;
	padding-top: 35px;
	padding-bottom: 65px;
}
.desing{
	text-align: center;
}
.desing h3{
	font-family: "MyriadProRegular";
	font-size: 22px;
	color: #555;
}
.desing p{
	padding-bottom: 25px;
	color: #8c8c8c;
	font-size: 14px;
}
.line{
	text-align: center;
	width: 90px;
	height: 4px;
	background-color: #f1eee9;
	border:none;
	display: block;
	margin: 0 auto; 
}
.desing:hover h3{
	color: #c7b299;
}
.desing:hover .line{
	background-color: #c7b299;
}
.ideas{
	height: 557px;
	background: #fbfaf8;
	padding-top: 85px;
}
.ideas-text{
	text-align: center;
}
.ideas-text h2{
	font-size: 30px;
	font-family: "MyriadProRegular";
}
.ideas-text p{
	display: inline-block;
	width: 715px;
	font-size: 16px;
}
.ideas-text img{
	border:0;
}
.boxes{
	background: rgba(33,27,25,1);
	background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(74,50,38,1)));
	background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4a3226', GradientType=1 );
}
.box-content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 45px;
	padding-bottom: 50px;
}
.box-text{
	padding-left: 25px;
}
.box-text h1{
	color: #fff;
	font-size: 28px;
}
.box-text span{
	color: #c7b299;
}
.box-text p{
	color: #5b524f;
	font-size: 18px;
	font-family: "MyriadProRegular";
}	
.btn-text{
	display: block;
	color: #fff;
	background: #998675;
	text-align: center;
	padding: 20px 36px;
	border-radius: 5px;
	text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.latest-text{
	padding-top: 55px;
	width: 780px;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.latest-text h2{
	font-size: 30px;
	font-family: "MyriadProRegular";
	font-weight: 300;
}
.latest-list{
	display: flex;
	justify-content: center;
	padding-top: 40px;
}
.latest-text p{
	padding-top: 50px;
	color: #8c8c8c;
	letter-spacing: 0.5px;
}
.latest-list li{
	border: 2px solid #ebebeb;
	margin: 0px 5px;
	padding: 5px 20px;
	border-radius: 5px;
	color: #8c8c8c;
}
.latest-list li:hover{
	background: #998675;
	color: #fff;
}
.latest-grid{
	padding-top: 38px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px; 
	grid-auto-rows: minmax(100px, auto);
}
.phone-picture img{
	width: 100%;
}
.latest-tabls, .mountain, .book, .cloud, .magazine, .see{
	border: 1px solid red;
}
.latest-tabls{
	background: #fbfaf8;
}
.latest-text-grid {
	padding-left: 28px;
}
.latest-text-grid h4{
	font-family: "MyriadProRegular";
	color: #c7b299;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 8px;
	margin-top: 30px;
}
.latest-text-grid p{
	font-size: 14px;
	color: #d1d1d1;
	margin-bottom: 25px;
}
.latest-text-grid p:after{
	content: url(..//img/arrow.png);
	position: relative;
    top: -80px;
    left: -145px;
}
.latest-btn{
	width: 170px;
	display: block;
	margin: 0 auto;
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 80px;
}
.presentation{
	background: url(../img/Video-Presentation.png) no-repeat;
	width: 100%;
	height: auto;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.video-presentation{
	padding-top: 200px;
	padding-bottom: 250px;
	display: inherit;
	text-align: center;
}
.video-presentation h2{
	color: #fff;
	font-size: 30px;
	padding-bottom: 10px;
}
.video-presentation p{
	color: #fff;
	width: 570px;
	margin: 0 auto;
	font-size: 16px;
}
.video-presentation img:hover{
	opacity: 0.5;
	cursor: pointer;
}
.wrapper-devices-content{
	display: flex;
	padding-top: 75px;
	padding-left: 50px;
}
ul.devices_icon li:before{
	content: url(..//img/device_arrow.png);
	padding-right: 25px;
	display: inline-block;
  	vertical-align: middle;
}
ul.devices_icon li{
	color: #8c8c8c;
}
.mobile-devices-content{
	padding-top: 110px;
}
.mobile-devices-content h2{
	padding-bottom: 35px;
	height: 30px;
	font-weight: 400;
	font-family: "MyriadProRegular";
	color: #555555;
}
.mobile-devices-content p{
	padding-bottom: 45px;
	font-size: 16px;
	color: #8c8c8c;
	line-height: 1.6;
}
.counters{
	background: rgba(33,27,25,1);
	background: -moz-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,27,25,1)), color-stop(100%, rgba(74,50,38,1)));
	background: -webkit-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -o-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: -ms-linear-gradient(left, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(74,50,38,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#211b19', endColorstr='#4a3226', GradientType=1 );
}
.counters_skill{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 55px;

}
.counters_people{
	text-align: center;
	margin: 25px;
}
.counters_people p{
	font-size: 14px;
	color: #b7a48d;
	text-transform: uppercase;
	padding-top: 25px;
	 flex: 1 0 340px;
  max-width: 500px;

}
p.number{
	font-size: 48px;
	color: #fff;
	padding: 15px 0pc 10px 0px;
}
.counters_line{
	text-align: center;
	width: 30px;
	height: 4px;
	background-color: #f1eee9;
	border:none;
	margin: 0 auto; 
}



















/*Адаптивность*/
@media screen and (max-width: 1100px){
	.container{
		width: 768px;
	}
	.topnav a{
		display: none;
	}
	nav{
		width: 100%;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 35px;
	}
	.topnav.responsive{
		position: relative;
		top: 50px;
		left: -200px;
		padding-left: 10px;
	}
	header .topnav.responsive{
		height: 20px;
	}
	.topnav.responsive a.icon{
		position: absolute;
		top:-50px;
		right: -200px;
	}
	.topnav.responsive a{
		float: none;
		display: block;
		text-align: left;
		font-size: 20px;
	} 
	.topnav a:hover{
		border: inherit;
		margin-bottom: 0px;
		padding-bottom: 0px;
		color: #c7b299;
	}
	img.windows{
		width: 100%;
	}
	.latest-text{
		width: auto;
	}
	.latest-grid{
		grid-template-columns: 1fr 1fr;
	}
	.devices_icon{
		padding-bottom: 35px;
	}

@media screen and (max-width: 769px){
	.container{
		width: 580px;
	}
	.swiper-slide img{
		width: inherit;
	}
	img.windows{
		width: 100%;
	}
	.ideas-text p{
		width: auto;
	}
	.latest-grid{
		grid-template-columns: 1fr 1fr;
	}
	.wrapper-devices-content img{
		display: none;
	}	
}
@media screen and (max-width: 570px){
	.container{
		width: 360px;
	}
	.swiper-slide img{
		width: inherit;
	}
	.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
		display: none;
	}
	.swiper-button-prev:after, .swiper-container-rtl .swiper-button-prev:after{
		display: none;
	}
	a.btn{
		font-size: 12px;
	}
	.service{
		flex-wrap: wrap;
	}
	.box-btn{
		display: inline-block;
		padding-top: 50px;
	}
	.box-content{
		display: block;
    	text-align: center;
	}
	.box-text{
		text-align: center;
	}
	.latest-list{
		flex-wrap: wrap;
	}
	.latest-grid{
		grid-template-columns: 1fr;
	}
	.video-presentation p{
		width: auto;
	}
	.counters_people{
		margin: 35px;
	}
}