body{
	background: #ccc;
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	background: #000;
}
.container{
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}
div, p, a, img, form, button{
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, li{
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
}
.header-menu{
	display: flex;
	align-items: center;
	margin-top: 42px;
}
.menu{
	display: flex;
	margin-left: 160px;
}
.menu li {
	font-size: 12px;
	margin-right: 25px;
}
.menu li a {
	color: #fff;
	padding: 12px 0;
}
.menu li a:hover{
	color: #61e838;
	border-top: 1px solid #61e838;
	border-bottom: 1px solid #61e838;
}
.phone{
	font-size: 12px;
	margin-left: auto;
}
.offer{
	display: flex;
	align-items: center;
	margin-top: 106px;
}
.offer-content h1{
	font-size: 37px;
	font-weight: 900;
}
.offer-content p{
	font-size: 16px;
	font-weight: 200;
	margin-top: 19px;
}
.btn a{
	background: #faf04b;
	color: #000;
	font-size: 14px;
	font-weight: 900;
	padding: 17px 0;
	border-radius: 10px;
	width: 217px;
	display: block;
	text-align: center;
	transition: all 0.5s ease;
}
.btn a:hover{
	background: red;
}
.triangle{
	background: url(../img/poly.png);
	width: 380px;
	height: 379px;
	margin-left: auto;
	margin-right: 81px;
}